.profile__avatar-edit-btn {
width: 120px;
height: 120px;
border: none;
border-radius: 50%;
position: relative;
cursor: pointer;
background-color: transparent;
}

.profile__avatar-edit-btn::before {
width: 100%;
height: 100%;
position: absolute;
top: 0;
right: 0;
background-image: url(../../../../images/edit_button_mini.png);
background-position: center;
background-repeat: no-repeat;
background-color: #000000;
opacity: 0;
transition: opacity .6s;
content: '';
}

.profile__avatar-edit-btn:hover::before{
    opacity: 0.8;
}